/test/nova_db.cfg
/.idea
.idea/workspace.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
provider/hcai/llama2_wrapper/__pycache__/model.cpython-311.pyc
provider/hcai/llama2_wrapper/__pycache__/__init__.cpython-311.pyc
.env
.idea/inspectionProfiles/profiles_settings.xml
__pycache__/utils.cpython-311.pyc
local_llama.env
.env.txt
__pycache__/app.cpython-311.pyc
